<div class='row' style='padding-top:60px'>
  <div class='col-3'></div>
    <div class="card text-center col-3" style='background-color: darkgray; padding-top:30px'>
      <div class="card-header">
        <h3> <%= @user.email %> </h3>
      </div>
      <div class="card-body" style='background-color: rgb(57,57,57)'>
        <p>Role: <% @user.role %> </p>
        <p>Job: </p>
        <p>Hourly Rate: </p>
      </div>
      <div class="card-footer text-muted" style='background-color: darkgray'>
      </div>
    </div>
  </div>
</div>