<h2>Delete <%= @project.name %> </h2>

<h3> Project deletion is irreversible </h3>

<%= link_to "Delete Project", destroy_project_path(id: @project.id), data:{turbo_method: :delete, turbo_confirm: "Are you Sure?"}, class:'btn btn-danger' %>