/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 .main-body{
  background-color: rgb(46, 46, 46);
 }
 panel{
   width: 1000px;
 }
 .panel-left{
   width: 12%;
   float: left;
   min-height: 1000px;
   background-color: rgb(57, 57, 57);
 }
 .panel-right{
   width: 88%;
   float: right;
   min-height: 1000px;
   padding-left: 20px;
 }
 
 .panel-button{
   background-color: rgb(57, 57, 57);
   color: white;
   width: 230px;
   height: 50px
 }