/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 .main-body{
  background-color: rgb(46, 46, 46);
 }
 panel{
   width: 1000px;
 }
 .panel-left{
   width: 12%;
   float: left;
   min-height: 1100px;
   background-color: rgb(57, 57, 57);
 }
 .panel-right{
   width: 88%;
   float: right;
   min-height: 1000px;
   padding-left: 20px;
 }
 
 .panel-button{
   background-color: rgb(57, 57, 57);
   color: white;
   height: 50px;
 }
 .big-block{
  min-width: 100px;
  height:250px;
  background-color: rgb(57, 57, 57);
  border-radius: 35px;
  padding: 30px;
 }
  .flash-disappear{
  position: absolute;
  width: 50%;
  z-index: 5;

  animation: fade         7s forwards;
  -webkit-animation: fade 7s forwards;
  -moz-animation: fade    7s forwards;
  -o-animation: fade      7s forwards;
  -ms-animation: fade     7s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.disabled-field{
  pointer-events: none;
}

.collapsible{
  max-width: 1020px;
  overflow: hidden;
  font-weight: 400;
}
.collapsible input{
  display: none;
}
.collapsible label {
  position: relative;
  font-weight: 600;
  background: rgb(57, 57, 57);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.5),0 2px 15px 0 rgba(0, 0, 0, .08);
  color:rgb(0, 0, 0);
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 1
}
.collapsible label:after{
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 25px;
  background: url(arrow.svg) no-repeat 0 0;
  transition: all 0.3s ease;
}
.collapsible input:checked + label:after{
  transform: rotate(90deg);
}

.collapsible-text{
  max-height: 0px;
  overflow: auto;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 1.0;
  transition: all 0.3s ease;
}
.collapsible input:checked ~ .collapsible-text{
  max-height: 490px;
  width: 1020;
  /* padding-bottom: 25px; */
  background: rgb(46, 46, 46);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1),0 4px 11px 0 rgba(0, 0, 0, 0.775);
  opacity: 1;
  top:0;

}
.collapsible-text h4{
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #000000;
}
.collapsible-text p{
  padding-left: 15px;
  padding-right: 15px;
}
.flash-disappear{
  position: absolute;
  width: 50%;
  z-index: 5;

  animation: fade 3s forwards;
  -webkit-animation: fade 3s forwards;
  -moz-animation: fade 3s forwards;
  -o-animation: fade 3s forwards;
  -ms-animation: fade 3s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.show_button{
  color: white;
  background-color: rgb(57, 57, 57);
}