/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 .main-body{
  background-color: rgb(46, 46, 46);
 }
 panel{
   width: 1000px;
 }
 .panel-left{
   width: 12%;
   float: left;
   min-height: 1100px;
   background-color: rgb(57, 57, 57);
 }
 .panel-right{
   width: 88%;
   float: right;
   min-height: 1000px;
   padding-left: 20px;
 }
 
 .panel-button{
   background-color: rgb(57, 57, 57);
   color: white;
   height: 50px;
 }
 .big-block{
  min-width: 100px;
  height:250px;
  background-color: rgb(57, 57, 57);
  border-radius: 35px;
  padding: 30px;
 }
  .flash-disappear{
  position: absolute;
  width: 50%;
  z-index: 5;

  animation: fade         7s forwards;
  -webkit-animation: fade 7s forwards;
  -moz-animation: fade    7s forwards;
  -o-animation: fade      7s forwards;
  -ms-animation: fade     7s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.disabled-field{
  pointer-events: none;
}